node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
.env.production
.env.staging
.env.docker.example
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
.php-cs-fixer.cache
Dockerfile
docker-compose.yml
.dockerignore
.vscode
.github
CHANGELOG.md
*.md
docs/
postman/
scripts/
storage/data/*.json
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*