* {
  box-sizing: border-box;
}

.clientTermsCondition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 17px;
  width: 1440px;
  height: 3279px;
  overflow: hidden;

  .autoWrapper3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 271px;
    padding-left: 35px;

    .braunWeiElegantModer {
      width: 271px;
      height: 271px;
    }

    .autoWrapper2 {
      position: relative;
      margin-top: 115px;
      width: 863px;
      height: 2543px;

      .rectangle253 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        outline-width: 1px;
        outline-style: solid;
        outline-color: #373737;
        border-radius: 20px;
        background: #ffffff;
        padding: 31px 46px 121px 26px;
        width: 863px;
        height: 2543px;

        .hausTapClientTermsCo3 {
          letter-spacing: 0;
          color: #1e1e1e;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 500;
        }

        .hausTapClientTermsCo2 {
          letter-spacing: 0;
          color: #1e1e1e;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .hausTapClientTermsCo5 {
          margin: 0px 0px 0px 4px;
          width: 787px;
          height: 1167px;
          letter-spacing: 0;
          color: #1e1e1e;
          font-size: 0;

          .hausTapClientTermsCo {
            letter-spacing: 0;
            color: #1e1e1e;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 700;
          }

          .hausTapClientTermsCo4 {
            letter-spacing: 0;
            color: #1e1e1e;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }
        }

        .autoWrapper {
          position: relative;
          width: 787px;
          height: 1224px;

          .aGreementacceptancei2 {
            position: absolute;
            right: -5px;
            bottom: -90px;
            width: 787px;
            height: 91px;
            letter-spacing: 0;
            color: #1e1e1e;
            font-size: 0;

            .aGreementacceptancei {
              letter-spacing: 0;
              color: #1e1e1e;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 17px;
              font-weight: 700;
            }
          }

          .haustapClientPrivacy3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 787px;
            height: 1224px;
            letter-spacing: 0;
            color: #1e1e1e;
            font-size: 0;

            .haustapClientPrivacy {
              letter-spacing: 0;
              color: #1e1e1e;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }

            .haustapClientPrivacy2 {
              letter-spacing: 0;
              color: #1e1e1e;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }

      .checkBox {
        position: absolute;
        top: 2460px;
        left: 41px;
        width: 18px;
        height: 18px;
      }
    }
  }

  .rectangle256 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 6px 307px 0px 957px;
    border: 1px solid #323232;
    border-radius: 10px;
    background: #3dc1c6;
    padding: 9px 53px 8px 54px;

    .back {
      width: 67px;
      height: 16px;
      text-align: center;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .autoWrapper10 {
    position: relative;
    margin-top: 60px;
    width: 1440px;
    height: 503px;

    .rectangle400 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      background: #dadada;
      padding: 25px 0px 144px 40px;
      width: 1440px;
      height: 503px;

      .autoWrapper4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 4px;

        .aBoutHausTap {
          width: 264px;
          height: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 800;
        }

        .aboutUs {
          margin: 17px 0px 0px;
          width: 168px;
          height: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 500;
        }

        .policies {
          margin: 17px 0px 0px;
          width: 242px;
          height: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 500;
        }

        .testimonials {
          margin: 15px 0px 0px;
          width: 168px;
          height: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .autoWrapper5 {
        position: relative;
        margin-top: 63px;
        margin-left: 291px;
        width: 271px;
        height: 271px;

        .braunWeiElegantModer2 {
          position: absolute;
          top: 0;
          left: 0;
          width: 271px;
          height: 271px;
        }

        .yourSpaceYourPeaceYo {
          position: absolute;
          top: 176px;
          right: -37px;
          width: 344px;
          height: 40px;
          text-align: center;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .autoWrapper9 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 369px;

        .facebook {
          width: 25px;
          height: 25px;
          overflow: hidden;
        }

        .fOllowus {
          margin: 0px 0px 0px 4px;
          width: 131px;
          height: 23px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 800;
        }

        .autoWrapper6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 13px;
          padding-right: 0;
          padding-left: 2px;

          .facebook2 {
            margin: 4px 0px 0px;
            width: 168px;
            height: 23px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
        }

        .autoWrapper7 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 16px;
          padding-right: 0;
          padding-left: 2px;

          .instagram {
            margin: 3px 0px 0px;
            width: 168px;
            height: 23px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
        }

        .autoWrapper8 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 16px;
          padding-right: 0;
          padding-left: 0;

          .twitter {
            margin-top: 1px;
            width: 25px;
            height: 25px;
            overflow: hidden;
          }

          .twitter2 {
            width: 168px;
            height: 23px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .addressAbcRoad12345P {
      position: absolute;
      bottom: -54px;
      left: 1160px;
      width: 229px;
      height: 154px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .aboutUs2 {
      position: absolute;
      top: 69px;
      left: 40px;
      width: 168px;
      height: 23px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
    }

    .a2025HaustapAllRight {
      position: absolute;
      bottom: -10px;
      left: 550px;
      width: 406px;
      height: 52px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
