body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 40px 0;
}

.edit-address-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-address-box {
  background-color: white;
  width: 500px;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  height: 600px;
}

/* Header */
.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.back-btn,
.delete-btn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #333;
}

.back-btn i,
.delete-btn i {
  margin-right: 6px;
}

.delete-btn {
  color: #000000;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #000000;
}

/* Form */
.address-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #000000;
}

.form-group input,
.form-group select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  appearance: none;
  background-color: #f0f0f0;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}


.form-group input:focus,
.form-group select:focus {
  border-color: cyan;
}

/* Submit Button */
.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  background-color: cyan;
  color: black;
  border: none;
  width: 300px;
  padding: 10px 30px;
  border-radius: 8px;
  border: #000000 solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: cyan;
  border: #333 solid 1px;
  transform: scale3d(1.05, 1.05, 1);
}
